body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-font: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#btn-submit {
  width: 100%;
  display: inline-block;
  border-radius: 0.75rem;
  background-color: #1990c8;
  border: none;
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  transition: all 0.8s ease-out;
  cursor: pointer;
  justify-content: space-evenly;
  margin: 1.5rem;
  max-width: 98.5vw;
}

#btn-submit:hover {
  background-color: rgb(36, 169, 16);
  color: #fff;
  transform: scale(1.1);
}

#genre {
  display: block;
  width: 100%;
  background-color: rgb(212, 220, 226);
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border: thin solid #000;
  box-shadow: 0.5rem 0.5rem rgb(93, 93, 93);
}

#genre > h2 {
  text-align: center;
}

#genre > input,
label {
  padding: 0.5rem 0;
  margin: 1rem;
  font-weight: bold;
  color: rgb(2, 2, 2);
  transition: all 0.4s ease-out;
}

#genre > input:hover,
label:hover {
  transform: scale(1.5);
}

.header {
  text-align: center;
  top: 0;
  z-index: 997;
  padding: 5px;
  background-color: #e4e67e;
  color: var(--second-color);
  font-size: 22px;
  max-width: 100%;
  border: thin solid #000;
  height: auto;
}

.header img {
  width: 15vw;
  height: auto;
}

.loader {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.none {
  display: none;
}

.selection {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#type {
  display: block;
  width: 100%;
  background-color: rgb(212, 220, 226);
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border: thin solid #000;
  box-shadow: 0.5rem 0.5rem rgb(93, 93, 93);
}

#type > h2 {
  text-align: center;
}

#type > input,
label {
  padding: 0.5rem 0;
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(2, 2, 2);
  transition: all 0.4s ease-out;
}

#type > input:hover,
label:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1000px) {
  .selection {
    display: block;
    max-width: max-content;
  }
}
