body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-font: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 997;
  padding: 10px;
  background-color: #c0c417;
  color: var(--second-color);
  font-size: 22px;
}

.header img {
  width: 120px;
  height: auto;
}

#tapes {
  display: block;
  width: 50%;
  background-color: rgb(212, 220, 226);
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

#tapes > h2 {
  text-align: center;
}

#tapes > input,
label {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(2, 2, 2);
  transition: all 0.4s ease-out;
}

#tapes > input:hover,
label:hover {
  transform: scale(1.35);
}
