body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-font: "Poppins", sans-serif;
  --main-color: #d35308;
  --second-color: #d48d63;
  --third-color: #ead0c0;
  --words-color: rgb(58, 58, 58);
  --header-words: rgb(235, 220, 220);
  --background-color: rgb(11, 10, 10);
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: #000;
  width: auto;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.btn-section {
  display: flex;
  justify-content: center;
}

#btn-submit {
  display: block;
  float: center;
  width: 90vw;
  border-radius: 100px;
  background-color: var(--main-color);
  border: none;
  color: var(--background-color);
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  transition: all 0.8s ease-out;
  cursor: pointer;
  margin: 1rem;
  letter-spacing: 0.2rem;
}

#btn-submit:hover {
  background-color: var(--third-color);
  color: var(--background-color);
  box-shadow: 0 0 3px 3px var(--main-color);
  transform: scale(1.05);
}

.container {
  max-width: 100%;
  padding: 0;
}

.error-container {
  margin: 2rem;
  text-align: center;
  background-color: #dd3218;
  color: var(--third-color);
  border-radius: 50%;
  padding: 1rem;
}

.film-header {
  width: 15vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: auto;
  z-index: 997;
  margin-top: 10px;
  font-size: 12px;
  max-width: 100%;
  height: auto;
  background-color: var(--background-color);
}

.footer-created {
  margin-top: auto;
  padding-left: 1rem;
  color: var(--header-words);
}

.footer-img {
  width: 4vw;
  display: block;
  margin: 0 1rem 0 1rem;
}

.footer-powered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--header-words);
}

.footer-text {
  margin-top: 0.9rem;
  font-weight: bold;
  font-size: 15px;
  margin-left: 0.2rem;
}

.github {
  margin-right: 1rem !important;
  margin-left: 2rem !important;
}

.header {
  top: 0;
  z-index: 997;
  padding: 10px;
  background-color: #46a3ce;
  width: 100%;
  background-color: var(--background-color);
  font-family: "Brandon Grotesque" !important;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--header-words);
  text-align: center;
  padding-bottom: 2rem;
}

.header-content h1 {
  font-size: 10rem;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 2rem;
  letter-spacing: 0.5rem;
}

.header-content p {
  font-size: 3rem;
  margin-top: 1.5rem;
}

hr {
  background-color: var(--main-color);
  border: 0;
  height: 0.1rem;
  /* box-shadow: 0 0 2px 2px var(--main-color); */
  width: 70%;
  margin-top: 4rem;
  border-radius: 100px;
}

.hr-search {
  background-color: #000;
  border-top: 2px dashed #8c8b8b;
  padding-bottom: 1rem;
  box-shadow: none;
}

.left-footer {
  display: grid;
}

.logo-container {
  width: 100%;
}

.logo-icon {
  display: block;
  margin: 0 auto 1rem 1rem;
  border-radius: 0.5rem;
  border: thin solid #000;
}

.no-data {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.none {
  display: none;
}

.social {
  width: max-content;
  float: left;
  display: flex;
  justify-content: end;
}

.social img {
  width: 2vw;
  display: block;
  transition: all 0.5s ease-in-out;
}

.social img:hover {
  transform: scale(1.1);
}

.social-icon {
  border-radius: 50%;
  margin: 1rem;
}
/* Loader Styles */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 48%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border: 8px solid var(--header-words);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--header-words) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ScrollTopButton*/

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  margin-bottom: 100px;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 4rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--third-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  color: var(--main-color);
  background-color: var(--second-color);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* RESULTS STYLES */

.film-container {
  display: flex;
  margin: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--words-color);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1rem;
  max-width: 1800px;
}

.film-table {
  padding: 0 1rem 0 1rem;
  padding-top: 5rem;
}

/* Section 1 */

.film-section-1 {
  position: relative;
  display: flex;
  margin: 1rem;
  font-weight: 500;
}

.film-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.film-img {
  width: 30vh;
  margin: 0.5rem;
  height: auto;
  padding-right: 1rem;
}

.film-index {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}

.film-index > p {
  background-color: var(--main-color);
  padding: 1rem;
  color: var(--header-words);
  margin: 0;
  border-bottom-right-radius: 0.8rem;
}

/* Section 2 */

.btn-title {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--third-color);
  color: var(--words-color);
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.btn-title:hover {
  color: var(--header-words);
  background-color: var(--main-color);
  transform: scale(1.05);
}

.btn-title-form {
  display: flex;
}

.calification {
  padding-left: 1rem;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.film-calification {
  position: relative;
  display: flex;
}

.film-cast {
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 1px;
}

.film-cast > u {
  font-weight: bold;
}

.film-genre {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.film-genre-div {
  width: fit-content;
}

.film-synopsis {
  font-size: 2rem;
}

.film-section-2 {
  position: relative;
  display: flex;
  font-weight: 500;
  color: var(--second-color);
  justify-content: space-around;
}

.film-section-2 > hr {
  margin-bottom: 4rem !important;
}

.film-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--main-color);
}

.film-title-info {
  display: flex;
}

.film-trailer {
  display: flex;
  position: relative;
}

.imdb-logo {
  width: 4vh;
  height: 100%;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.title-text {
  font-size: 1.3rem;
  margin-left: 2rem;
  padding-top: 1rem;
}

.trailer {
  position: initial;
  border-radius: 5rem;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  background-color: var(--third-color);
  color: var(--words-color);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.trailer:hover {
  color: var(--header-words);
  background-color: var(--main-color);
  transform: scale(1.05);
}

.trailer-form {
  display: flex;
}

.trailer-text {
  font-size: 1.3rem;
  margin-left: 2rem;
  padding-top: 3.5rem;
}

.trailer-text > p {
  padding-top: 3.5rem;
}

/* Icons Modals Styles */

.modal-icon {
  margin-right: 1.5rem;
  transform: scale(1.7);
}

.bi-camera-reels {
  margin-bottom: 0.2rem;
}

.bi-film {
  margin-bottom: 0.1rem;
}

/* Modal Styles */

.modal-container {
  width: 170vh !important;
}

/* Type Modal Styles */

.type {
  display: flex;
  justify-content: space-between;
}

.type-section-1 {
  margin-right: 20vh;
  margin-left: -5vh;
}

.type-content {
  display: block;
}

/* Genres Modal Styles */

.genre-slc {
  display: inline-block !important;
}

.type-section-1 {
  margin-right: 10vh;
  margin-left: -2vh;
}

.genre-content {
  display: flex;
}

.genre-slc {
  display: block;
  margin: 0.5rem;
  margin-left: 1.5vh;
}

/* CheckBox and labels styles */

.type-label {
  display: inline;
  font-weight: 600;
  color: var(--words-color);
  margin-bottom: 11px;
  width: 70vh;
  float: left;
  cursor: pointer;
  padding: 0 0.8rem;
  box-sizing: border-box;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 100px;
  transition: all 0.5s ease 0s;
  background: var(--third-color);
  box-shadow: 0 0 1px 1px var(--main-color);
}

.genre-label {
  display: inline;
  font-weight: 600;
  color: var(--words-color);
  margin-bottom: 1px;
  width: 300px;
  float: left;
  cursor: pointer;
  padding: 0 0.8rem;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 100px;
  transition: all 0.5s ease 0s;
  background: var(--third-color);
  box-shadow: 0 0 1px 1px var(--main-color);
}

.genre-slc label:hover {
  transform: scale(1.1);
}

.type-slc label:hover {
  transform: scale(1.02);
}

input[type="checkbox"] {
  display: none !important;
}

input[type="checkbox"] + label {
  line-height: 3em;
}

input[type="checkbox"]:disabled + label {
  color: #ccc !important;
  cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled + label:after {
  border-color: #ccc;
}

.type-input + label:before {
  content: "";
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 0.5em;
  margin-left: 0.4em;
  border: 2px solid #ccc;
  background: #fff;
  margin-top: 0.7em;
}

.genre-input + label:before {
  display: inline;
  content: "";
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 0.55em;
  margin-left: 0.4em;
  border: 2px solid #ccc;
  background: #fff;
  margin-top: 0.7em;
}

input[type="checkbox"]:checked + label {
  background: #9ee7a0;
  opacity: 0.9;
}

input[type="checkbox"]:checked + label:after {
  content: "";
  width: 18px;
  height: 10px;
  border: 4px solid #3dde40;
  float: left;
  margin-left: -1.7em;
  border-right: 0;
  border-top: 0;
  margin-top: 1.1em;
  transform: rotate(-55deg);
}

input[type="checkbox"]:checked + label:before {
  border-color: #0fbf12;
}

input[type="checkbox"]:checked:disabled + label {
  background: #ccc;
  color: #fff !important;
}

input[type="checkbox"]:checked:disabled + label:before {
  border-color: #bdbdbd;
}

/* Extra Options Modal Styles */

.extra-options {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.num-votes {
  background: transparent;
  box-shadow: 0 0 3px 3px var(--main-color);
  border-radius: 5rem;
  font-family: "Poppins", sans-serif;
  color: var(--words-color);
  font-size: 2rem;
  font-weight: bold !important;
  width: 70vh;
  margin-right: 15vh;
  margin-left: -15vh;
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-align: center;
}

.num-votes > option {
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--header-words);
}

.top-number {
  background: transparent;
  box-shadow: 0 0 3px 3px var(--main-color);
  border-radius: 5rem;
  font-family: "Poppins", sans-serif;
  color: var(--words-color);
  font-size: 2rem;
  font-weight: bold !important;
  width: 70vh;
  margin-right: -15vh;
  padding: 1rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.top-number > option {
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--header-words);
}

/* Responsive Design */

/* Footer */

@media screen and (max-width: 1000px) {
  .social img {
    width: 4vw;
  }

  .footer-img {
    width: 9vw;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .social img {
    width: 5vw;
  }

  .footer-img {
    width: 15vw;
    display: block;
  }
}

/* Trailer */

@media screen and (max-width: 1000px) {
  .film-trailer {
    margin-right: 2rem;
  }
}

/* Film type */

@media screen and (max-width: 1700px) {
  .modal-container {
    width: 110vh !important;
  }

  .type-section-1 {
    margin-right: 7vh !important;
    margin-left: -2vh !important;
  }

  .type-label {
    width: 45vh !important;
  }
}

@media screen and (max-width: 1200px) {
  .modal-container {
    width: 100vh !important;
  }

  .type-section-1 {
    margin-right: 10vh !important;
    margin-left: 0 !important;
  }

  .type-label {
    width: 35vh !important;
  }
}

@media screen and (max-width: 1000px) {
  .modal-container {
    width: 90vh !important;
  }

  .type-section-1 {
    margin-right: 10vh !important;
    margin-left: 0 !important;
  }

  .type-label {
    width: 30vh !important;
  }
}

@media screen and (max-width: 800px) {
  .modal-container {
    width: 70vh !important;
  }

  .type-section-1 {
    margin-right: 5vh !important;
    margin-left: 0 !important;
  }

  .type-label {
    font-size: 1.6rem !important;
    width: 30vh !important;
  }

  .type-input + label:before {
    width: 27px !important;
    height: 27px !important;
    margin-right: 0.3em !important;
    margin-top: 0.7em !important;
  }
}

@media screen and (max-width: 650px) {
  .modal-container {
    width: 40vh !important;
  }

  .type-section-1 {
    margin-right: 1vh !important;
    margin-left: 0 !important;
  }

  .type-label {
    font-size: 1.5rem !important;
    padding: 0 0.5rem !important;
    width: 17vh !important;
  }

  .type-input + label:before {
    width: 24px !important;
    height: 24px !important;
    margin-right: 0.48em !important;
    margin-top: 0.7em !important;
  }

  .type-input:checked + label:after {
    width: 15px !important;
    height: 8px !important;
  }

  .modal-title {
    font-size: 1.5rem !important;
  }

  .modal-close-button {
    width: 25px !important;
    height: 25px !important;
  }
}

/* Genre */

@media screen and (max-width: 1700px) {
  .genre-slc {
    margin-left: 3vh !important;
  }

  .genre-label {
    width: 30vh !important;
    font-size: 1.8rem !important;
  }

  .genre-input + label:before {
    margin-right: 0.4em !important;
  }
}

@media screen and (max-width: 1200px) {
  .modal-container {
    width: 100vh !important;
  }

  .genre-label {
    width: 28vh !important;
    font-size: 1.6rem !important;
  }

  .genre-input + label:before {
    margin-right: 0.25em !important;
  }

  .genre-input:checked + label:after {
    margin-top: 1.2em !important;
    margin-right: 0.3em !important;
  }
}

@media screen and (max-width: 1040px) {
  .modal-container {
    width: 90vh !important;
  }

  .genre-slc {
    margin-left: 4.5vh !important;
  }

  .genre-label {
    width: 22vh !important;
    font-size: 1.4rem !important;
  }

  .genre-input + label:before {
    width: 27px !important;
    height: 27px !important;
    margin-right: 0.1em !important;
  }

  .genre-input:checked + label:after {
    width: 18px !important;
    height: 9px !important;
    margin-top: 1.2em !important;
  }
}

@media screen and (max-width: 900px) {
  .modal-container {
    width: 90vh !important;
  }

  .genre-slc {
    margin-left: 4.5vh !important;
  }

  .genre-label {
    width: 20vh !important;
    font-size: 1.3rem !important;
  }

  .genre-input + label:before {
    width: 25px !important;
    height: 25px !important;
    margin-right: 0.2em !important;
  }

  .genre-input:checked + label:after {
    width: 16px !important;
    height: 8px !important;
    margin-top: 1.2em !important;
  }
}

@media screen and (max-width: 800px) {
  .modal-container {
    width: 70vh !important;
  }

  .genre-slc {
    margin-left: 4vh !important;
  }

  .genre-label {
    width: 15vh !important;
    font-size: 1rem !important;
  }

  .genre-input + label:before {
    width: 19px !important;
    height: 19px !important;
    margin-right: 0.2em !important;
  }

  .genre-input:checked + label:after {
    width: 12px !important;
    height: 6px !important;
    margin-top: 1.3em !important;
  }
}

@media screen and (max-width: 650px) {
  .modal-container {
    width: 50vh !important;
  }

  .genre-slc {
    margin-left: 2vh !important;
  }

  .genre-label {
    width: 12vh !important;
    font-size: 0.7rem !important;
  }

  .genre-input + label:before {
    width: 15px !important;
    height: 15px !important;
    margin-right: 0 !important;
  }

  .genre-input:checked + label:after {
    width: 10px !important;
    height: 6px !important;
  }
}

@media screen and (max-width: 600px) {
  .modal-container {
    width: 50vh !important;
  }

  .genre-slc {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }

  .genre-label {
    width: 12vh !important;
    font-size: 0.7rem !important;
  }

  .genre-input + label:before {
    width: 15px !important;
    height: 15px !important;
    margin-right: 0 !important;
    margin-top: 0.5em !important;
  }

  .genre-input:checked + label:after {
    width: 10px !important;
    height: 6px !important;
    margin-top: 1.1em !important;
    margin-left: -1.7em !important;
  }
}

/* Extra Options */

@media screen and (max-width: 1700px) {
  .extra-options {
    display: block;
  }

  .num-votes {
    width: 100vh;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .num-votes > option {
    font-size: 2.5rem;
  }

  .top-number {
    width: 100vh;
    font-size: 2.5rem;
  }

  .top-numer > option {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1450px) {
  .num-votes {
    width: 95vh;
    font-size: 2.2rem;
  }

  .num-votes > option {
    font-size: 2.2rem;
  }

  .top-number {
    width: 95vh;
    font-size: 2.2rem;
  }

  .top-numer > option {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .num-votes {
    width: 88vh;
    font-size: 2.1rem;
  }

  .num-votes > option {
    font-size: 2.1rem;
  }

  .top-number {
    width: 88vh;
    font-size: 2.1rem;
  }

  .top-numer > option {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1000px) {
  .num-votes {
    width: 80vh;
    font-size: 2rem;
  }

  .num-votes > option {
    font-size: 2rem;
  }

  .top-number {
    width: 80vh;
    font-size: 2rem;
  }

  .top-numer > option {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .num-votes {
    width: 50vh;
    font-size: 1.3rem;
  }

  .num-votes > option {
    font-size: 1.3rem;
  }

  .top-number {
    width: 50vh;
    font-size: 1.3rem;
  }

  .top-numer > option {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 650px) {
  .num-votes {
    width: 45vh;
    font-size: 1.2rem;
  }

  .num-votes > option {
    font-size: 1.2rem;
  }

  .top-number {
    width: 45vh;
    font-size: 1.2rem;
  }

  .top-numer > option {
    font-size: 1.2rem;
  }
}
